<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759856793150-4lgd06p0o03tcrs1gr0869tpoh4puq0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759856793150-4lgd06p0o03tcrs1gr0869tpoh4puq0k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>759856793150-l2qf681h679oodcojfikgqtpvksks2gh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB30hC3WSEepPV-K4s8DlTXBzAKCTzRTBc</string>
	<key>GCM_SENDER_ID</key>
	<string>759856793150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dssc.aspirewallet</string>
	<key>PROJECT_ID</key>
	<string>aspirepayment-aaef4</string>
	<key>STORAGE_BUCKET</key>
	<string>aspirepayment-aaef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759856793150:ios:cd30b5627bde72d9d5f36f</string>
	<key>DATABASE_URL</key>
	<string>https://aspirepayment-aaef4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>